.toaster{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
  border: 2px solid black;
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: end;
}

.top-left{
  position: fixed;
  top: 20px;
  left: 20px;
}

.success{
  background-color: green;
}